html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 5rem;
	margin-bottom: 60px;
}

#imageText {
	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
}

hr {
	background: #000000aa;
	margin: 0px;
}

.copyright {
	float: right;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #ffffff;
}

.navbar-nav {
	margin-right: .5rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link {
	color: #000000;
	padding: .25rem 0;
	border-bottom: .25rem solid transparent;
	border-top: .25rem solid transparent;
}

div.navbar-collapse > div.navbar-nav > a.nav-link:hover {
	color: #000000;
	border-bottom-color: orange;
}

div.navbar-collapse > div.navbar-nav > .nav-link {
	margin-left: 1rem;
}

main {
	margin-top: 2rem;
}

#le-nav {
	border-bottom: .2rem solid black;
}
