body {
	padding-top: 5rem;
}

/*
div {
	padding: 10px;
	margin: 10px;
}*/

#imageText {
	font-size: 10px;
}

hr {
	background: #000000aa;
	margin: 0px;
}

.copyright {
	color: #000000aa;
	float: right;
	margin: 10px;
}

main {
	margin-top: 3rem;
}
