body {
	padding-top: 5rem;
}

/*
div {
	padding: 10px;
	margin: 10px;
}*/

.logo-box {
	height: 16rem;
	background: #0000ff;
	margin-right: 4rem;
	margin-left: 4rem;
}

#imageText {
	font-size: 10px;
}

hr {
	background: #000000aa;
	margin: 0px;
}

.copyright {
	color: #000000aa;
	float: right;
	margin: 10px;
}

main {
	margin-top: 3rem;
}
