html {
	position: relative;
	min-height: 100%;
}

body {
	/* required for navbar */
	padding-top: 5rem;
	/* required for footer */
	margin-bottom: 80px;
}

main {
	margin-top: 2rem;
	padding-bottom: 3rem;
}

/* might want to generalise #about... */
#aboutHeaderOne {
	font-size: 2rem;
	font-family: "Times New Roman", Times, serif;
}

#aboutText {
	margin-top: 2rem;
	font-size: 1rem;
	width: 75%;
	font-family: "Times New Roman", serif;
}

/* BEGIN: navbar/footer stuff */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 81px;
	border-top: .01rem solid black;
	line-height: 40px; /* Vertically center the text there */
	background-color: #ffffff;
	font-family: Cambria, serif;
	font-size: .8rem;
}

.navbar-nav {
	margin-right: 4rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link {
	padding: .25rem 0;
	border-bottom: .25rem solid transparent;
	border-top: .25rem solid transparent;
	margin-left: 2rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link:hover {
	color: #000000;
	border-bottom-color: black;
}

.foot-link, div.navbar-collapse > div.navbar-nav > a.nav-link {
	color: #000000;
	font-family: Cambria, serif;
}

.foot-link {
	margin-right: 1.25rem;
}

/* END: navbar/footer stuff */
