body {
	/*background: #666666;*/
}

div {
	padding: 10px;
	margin: 10px;
}

#ttt {
	/*background: #000000;*/
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	display:inline-block;
}

#one {
}

#nav {
	float: right;
	display: inline;
}

#logo {
	width: inherit;
	height: 40%;
	background: #0000ff;
	margin: 10px;
}

#div2 {
	width: inherit;
	height: 200px;
	background: #000000;
	margin: 10px;
}

hr {
	margin: 10px;
}

#div3 {
	width: inherit;
	/*height: 100px;*/
	background: #ffffff;
	margin: 10px;
}

#copyright {
	color: #000000;
	float: right;
	margin: 10px;
}

img {
	height: inherit;
	float: center;
}

a {
	/*color: #000000;*/
}

a:visited {
	color: #000000;
}
