<!-- the footer, uses bootstrap's "footer" class -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="ml-0 col-6 my-auto">
				<div class="row">
					&copy; 2017 Developer Club. All rights reserved.
				</div>
				<div class="row">
					<a class="foot-link" href="{{ site.url }}/privacy/">Privacy</a>
					<a class="foot-link" href="{{ site.url }}/terms/">Terms</a>
					<a class="foot-link" href="{{ site.url }}/company/">Company</a>
					<a class="foot-link" href="{{ site.url }}/company/">Services</a>
				</div>
			</div>
			<div class="col-6 mr-0 my-auto">
				<div class="row" style="float: right">
					<img src="{{ site.url }}/footerlogo.svg" height="60rem">
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
