<nav class="navbar navbar-expand fixed-top navbar-light" style="background: #d0e0e3">
	<a class="navbar-brand mr-0 mr-md-2" href="{{ site.url }}/"><img src="DevClubLogo.png" width="128"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{{ site.url }}/about.html">About</a>
			<a class="nav-item nav-link" href="{{ site.url }}/projects.html">Projects</a>
			<a class="nav-item nav-link" href="{{ site.url }}/members.html">Members</a>
		</div>
	</div>
</nav>
